@charset "UTF-8";
/**
 * Main styles
 **/
html {
	font-size: 18px;
	//color: $white;
}

body {
	font-family: OpenSans, Arial, sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
	overflow-x: hidden;
	box-sizing: border-box;
}

ul{
	margin: 0;
}

.container{
	min-width: 100%;
}

.wrapper{
	max-width: 1200px;
	padding-left: 12px;
	padding-right: 12px;
	margin:  0 auto;
}