@import "fonts";
@import "variables";
@import "normalize";
@import "core";
@import "mixines";
@import "libs";

/**
*************HEADER****************
 */
.swiper-container {
    min-width: 1200px;
    min-height: 795px;
}
.swiper-pagination-bullet{
    background-color: $white;
    width: 10px;
    height: 10px;
    opacity: 0.6;
    margin-bottom: 40px;
}
.swiper-pagination-bullet-active{
    background-color: $tomato;
    opacity: 1;
}

.swiper-button-prev, .swiper-button-next{
    color: $white;
    font-size: 1.2em;
    padding: 32px 32px;
    box-sizing: border-box;
    object-fit: contain;
    background-color: #636363;
    transition: background-color 0.3s ease;
    &:hover{
        transition: background-color 0.3s ease;
        background-color:$tomato;
    }
    
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 40px;
}

.icon {
    width: 20px;
    height: 16px;
    object-fit: contain;
    fill: #363636;
}

.red{
    color: $tomato;
}

.arrow {
    display: block;
    width: 8px;
    height: 6px;
    object-fit: contain;
    fill: #363636;
}

.social{
    width: 16px;
    height: 16px;
    object-fit: contain;
    fill: #363636;
    text-decoration: none;
    transition: fill 0.3s ease;
    &:hover{
        fill: $tomato;
    }
}

.header{
    padding-top: 14px;
    padding-bottom: 15px;
}

.headerPanel-bg{
    background: $black-1;
}

.headerNav-bg{
   background: $black-3;
}

.header-panel{
    display: flex;
    justify-content: space-between;

}

.panel{
    &-left{
        display: flex;
        align-items: center;

        &-language{
            display: flex;
            position: relative;
            align-items: center;
            margin-right: 50px;
            &-name{
                margin: 0;
                padding-left: 10px;
                padding-right: 8px;
                font-family: "Roboto Regular", sans-serif;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.54;
                letter-spacing: normal;
                text-align: left;
                color: #636363
            }
            &-list{
                position: absolute;
                background: $black-1;
                top: 20px;
                left: -12px;
                list-style-type: none;

                max-height: 0;
                display: block;
                overflow: hidden;
                opacity: 0;
                visibility: hidden;
                transition: max-height 0.3s, opacity 0.2s 0.1s, visibility 0s 0.3s;

                &--active{
                    transition: max-height 0.3s, opacity 0.2s, visibility 0s;
                    max-height: 120px;
                    opacity: 1;
                    visibility: visible;
                }
                &-item{
                    padding: 10px 20px 10px 25px;
                    margin: 0;
                    font-family: "Roboto Regular", sans-serif;
                    font-size: 13px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.54;
                    letter-spacing: normal;
                    text-align: left;
                    &-link{
                        text-decoration: none;
                        color: #636363;
                        transition: color 0.3s ease;
                        &:hover{
                            color: $main-green;
                        }
                    }
                }
            }
        }
        &-call{
            display: flex;
            align-items: center;
            margin-right: 50px;
            &-name{
                margin: 0;
                padding-left: 10px;
                padding-right: 8px;
                font-family: "Roboto Regular", sans-serif;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.54;
                letter-spacing: normal;
                text-align: left;
                color: #636363
            }
        }
        &-email{
            display: flex;
            align-items: center;
            &-name{
                margin: 0;
                padding-left: 10px;
                padding-right: 8px;
                font-family: "Roboto Regular", sans-serif;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.54;
                letter-spacing: normal;
                text-align: left;
                color: #636363
            }
        }
    }
    &-right{
        display: flex;
        align-items: center;
        &-register{
            display: flex;
            align-items: center;
            &-name{
                margin: 0;
                padding-left: 10px;
                padding-right: 8px;
                font-family: "Roboto Regular", sans-serif;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.54;
                letter-spacing: normal;
                text-align: left;
                &-singIn, &-reg{
                    text-decoration: none;
                    color: #636363;
                    transition: color 0.3s ease;
                    &:hover{
                        color: $main-green;
                    }
                }


            }
        }
        &-wishList{
            display: flex;
            align-items: center;
            margin: 0;
            padding-left: 10px;
            font-family: "Roboto Regular", sans-serif;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.54;
            letter-spacing: normal;
            text-align: left;
            color: #636363;
            &--bold{
                padding-right: 8px;
                color:  #959595;
            }
        }
    }
}

.socialNetwork{
    &-list{
        display: flex;
        align-items: center;
        list-style-type: none;
        &-item{
            margin-left: 2.5px;
            margin-right: 2.5px;
        }
    }
}

.nav-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 40px;

    &-left{
        &-logo{
            width: 100px;
            font-family: Axis, sans-serif;
            font-size: 56px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.36;
            letter-spacing: normal;
            text-align: left;
            color: $white;
            text-decoration: none;
        }
    }
    &-right{
        display: flex;
        align-items: center;

        &-nav{
            display: flex;
            list-style-type: none;
            align-items: center;

            &-item{
                font-family: "Raleway-ExtraBold", sans-serif;
                font-size: 14px;
                font-weight: 800;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.43;
                letter-spacing: normal;
                text-align: left;
                padding-right: 30px;
                position: relative;

                &-link{
                    color: #707070;
                    text-decoration: none;
                    &:hover{
                        color: $tomato;
                        &:before{
                            content: '';
                            display: block;
                            top: -8px;

                            position: absolute;
                            width: 8px;
                            height: 3px;
                            background-color: $tomato;
                            box-sizing: content-box;
                        }

                    }
                }
            }
        }

        &-cart{
            position: relative;
            &-icon{
                width: 21px;
                height: 19px;
                object-fit: contain;
                fill: #555555;
            }
            &-count{
                position: absolute;
                box-sizing: border-box;
                border-radius: 50%;
                top: -8px;
                left: 11px;
                width: 17px;
                height: 17px;
                background-color: $tomato;
                font-family: "Roboto-Black", sans-serif;
                font-size: 11px;
                font-weight: 900;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.5;
                letter-spacing: normal;
                text-align: center;
                color: $white;
            }
        }

        &-search{
            margin-left: 30px;
            &-icon{
                width: 19px;
                height: 19px;
                object-fit: contain;
                fill: #555555;
            }
        }
    }
}

.slide-bg-1{
    background: #24282B url("../img/board/man.jpg") no-repeat center;
    background-size: cover;
    min-height: 795px;
}

.slider{

    &-wrap{

        &-slide{
            &-img{
            }
            &-info{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-top: 267px;
                padding-bottom: 40px;
                &-title{
                    margin-top: 0;
                    margin-bottom: 15px;
                    max-width: 660px;
                    font-family: "Raleway-ExtraBold", sans-serif;
                    font-size: 80px;
                    font-weight: 800;
                    font-stretch: normal;
                    text-transform: uppercase;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }
                &-subtitle{
                    max-width: 660px;
                    font-family: "Raleway-ExtraBold", sans-serif;
                    font-size: 43px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.86;
                    letter-spacing: normal;
                    text-align: left;
                    text-transform: uppercase;
                    color: #ffffff;
                    margin-top: 0;
                    margin-bottom: 25px;
                }
                &-description{
                    max-width: 650px;
                    font-family: "Raleway-ExtraBold", sans-serif;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: 800;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.33;
                    letter-spacing: normal;
                    text-align: left;
                    color: #555555;
                    margin-top: 0;
                }
                &-buttons{
                    min-width: 650px;
                    &-button{
                        padding: 21px 36px;
                        border-radius: 5px;
                        border: solid 2px #ffffff;
                        text-transform: uppercase;
                        background: transparent;
                        margin-right: 30px;
                        font-family: "Raleway-ExtraBold",sans-serif;
                        font-size: 14px;
                        font-weight: 800;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        text-align: center;
                        color: #ffffff;
                        cursor: pointer;
                        transition: background 0.3s ease;
                        &:hover{
                            background: $tomato;
                        }
                    }
                }
            }
        }
    }
}

.about{
    margin: 0;
    padding: 0;
    background: #252525;
    &-wrap{    
    }
    &-icon{
        object-fit: contain;
        fill: #636363;
        transition: fill 0.1s  ease ;
    }  
   
}

.about-list{
    padding: 80px 0 0 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    &-item{
        margin-right: 38px;
        &:last-child{
            margin-right: 0;
        }

        &-img{
            &-figure{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: solid 1px #363636;
                transition: border-color 0.3s ease;
                &:hover , &:hover .about-icon{
                    border-color: $tomato;
                    fill: $tomato;
                }
            }
        }
        &-title{
            margin-top: 30px;
            margin-bottom: 20px;
            max-width: 261px;
            font-family: "Raleway-ExtraBold", sans-serif;
            font-size: 18px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.11;
            letter-spacing: normal;
            text-align: left;
            color: #636363;
        }
        &-description{
            margin-bottom: 30px;
            width: 261px;
            font-family: "Roboto-Regular", sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: left;
            color: #555555;
            &::after{
                content: '';
                display: block;
                width: 70px;
                height: 2px;
                background-color: $tomato;
                margin-top: 30px;
                margin-bottom: 80px;
            }
        }
    }
}



.works{
    padding-top: 80px;
    background: #202020; 
    &-wrap{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &-icon{
        width: 15px;
        height: 15px;
        fill: $white;

    }
    &-active{
        overflow: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        background: rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        outline: 5px solid $tomato;
        z-index: 1;
        transition: all 0.3s ease;
        &:hover{
            overflow: visible;
            opacity: 1;
        }

        &-title{
            padding-top: 30px;
            padding-left: 30px;
            margin: 0 0 20px 0;
            max-width: 312px;
            text-transform: uppercase;
            font-family: "Raleway-Bold", sans-serif;
            font-size: 24px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;

        }
        &-description{
            padding-left: 30px;
            min-width: 189px;
            text-transform: uppercase;
            font-family: "Roboto-Regular", sans-serif;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: left;
            color: #959595;
            &::after{
                content: '';
                display: block;
                margin: 28px 0 42px 0;
                max-width: 70px;
                min-height: 2px;
                background-color: $tomato;
            }
        }
        &-buttons{
            display: flex;
            padding-right: 30px;
            margin-bottom: 30px;
            justify-content: flex-end;
            &:last-child{
                margin-right: 0;
            }
            &-search, &-link{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 42px;
                height: 42px;
                margin-right: 8px;
                border-radius: 50%;
                background-color: #252525;
               transition:   background-color 0.3s ease;
                &:hover{
                    background-color: $tomato
                }
                &-link{
                    text-decoration: none;
                    padding: 15px;
                }
            }
            
        }
    }
    &--one{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    &--two{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        position: relative;
        background: url("../img/work/work-1.jpg") no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }
    &--three{
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        position: relative;
        background: url("../img/work/work-2.jpg") no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }
    &--four{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        position: relative;
        background: url("../img/work/work-3.jpg") no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }
    &--five{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        position: relative;
        background: url("../img/work/work-4.jpg") no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }
    &--six{
        grid-column: 3 / 5;
        grid-row: 2 / 3;
        position: relative;
        background: url("../img/work/work-5.jpg") no-repeat;
        background-size: cover;
        box-sizing: border-box;
    }

    &-viewAllPortfolio{
        display: inline-block;
        margin-top: 60px;
        margin-bottom: 90px;
        font-family: "Roboto-Regular",sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        color: $tomato;
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover{
            color: $white;
        }
    }
}

.works-list{
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(2, 270px);
    grid-template-columns: 300px 435px 165px 270px;
    padding: 0;
    
    &-item{
        &-title{
            max-width: 240px;
            font-family: "Raleway-Bold", sans-serif;
            font-size: 30px;
            text-transform: uppercase;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.93;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;

        }
        &-description{
            width: 262px;
            font-family: "Roboto-Regular", sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: left;
            color: #464646;
        }
    }
}


//*****

.workResponsive{
    background: #252525;

    &--position{
        position: relative;
    }

    &-list{
        padding: 100px 0 0 0;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        
        
        &-item{
            &-image-2{
                position: absolute;
                bottom: 0;
                right: -100px;
            }
            &-info{
                max-width: 390px;
                &-title{
                    margin: 0 0 31px 0;
                    font-family: "Raleway-Bold", sans-serif;
                    font-size: 30px;
                    font-weight: bold;
                    font-stretch: normal;
                    text-transform: uppercase;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    &::before{
                        content: '';
                        display: block;
                        margin-bottom: 31px;
                        width: 70px;
                        height: 2px;
                        background-color: #2f2f2f;
                    }
                }
                &-description{
                    margin: 0;
                    font-family: "Roboto-Regular", sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    text-align: left;
                    color: #464646;
                }
                &-sublist{
                    padding: 0;
                    list-style-type: none;

                    &-subItem{
                        &-p{
                            display: flex;
                            align-items: center;
                            margin: 33px 0 0 0 ;
                            font-family: "Roboto-Regular", sans-serif;
                            font-size: 14px;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: 1.29;
                            letter-spacing: normal;
                            text-align: left;
                            color: #959595;
                            &::before{
                                content: '';
                                display: inline-block;
                                width: 8px;
                                height: 3px;
                                background-color: $tomato;
                                margin-right: 21px;
                            }
                        }
                    }
                }
            }

            &-btn{
                padding: 22px 33px;
                margin-top: 57px;
                border: none;
                border-radius: 5px;
                background-color: #8dc63f;
                font-family: "Raleway-ExtraBold", sans-serif;
                font-size: 14px;
                font-weight: 800;
                text-transform: uppercase;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
                cursor: pointer;
                transition: background 0.3s ease;
                &:hover{
                    background: #a3c378;
                }
            }
           
        }
    }
}


//*****

.skill{
    background: $tomato;

    &-list{
        margin: 0;
        padding: 80px 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;

        &-item{
            &-sublist{
                min-width: 770px;
                list-style-type: none;
                padding: 0;
                margin: 0;
                &-subItem{
                    &-title{
                        font-family: "Raleway-Bold", sans-serif;
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.43;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;
                    }
                    &-progressbar{
                        width: 100%;
                        height: 10px;
                        border: solid 1px rgba(255, 255, 255, 0.25);
                        border-radius: 4px;

                        &-line{
                            display: block;
                            position: relative;
                            width: 542px;
                            height: 5px;
                            margin: 2.5px 2.5px;
                            background-color: #ffffff;

                            &-marker{
                                position: absolute;
                                top: -35px;
                                right: -25px;
                                background: #252525;
                                border-radius: 4px;

                                &-num{
                                    margin: 0;
                                    padding: 8px 20px;
                                    font-family: "Roboto-Bold", sans-serif;
                                    font-size: 11px;
                                    font-weight: bold;
                                    font-stretch: normal;
                                    font-style: normal;
                                    line-height: 1;
                                    letter-spacing: normal;
                                    text-align: center;
                                    color: #fafafa;
                                }
                                &-arrow{
                                    display: inline-block;
                                    background: #252525;
                                    width: 10px;
                                    height: 10px;
                                    bottom: -4px;
                                    left: 25px;
                                    position: absolute;
                                    transform: rotate(46deg);
                                }
                            }
                        }
                    }
                }
            }
            &-info{
                max-width: 262px;

                &-title{
                    margin: 0;
                    font-family: "Raleway-Bold",sans-serif;
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 0.93;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    &::before{
                        content: '';
                        display: block;
                        width: 70px;
                        height: 2px;
                        background-color: #ffffff;
                        margin-bottom: 31px;
                    }
                }
                &-description{
                    margin: 30px 0 0 0;
                    font-family: "Roboto-Regular", sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                }

                &-btn{
                    padding: 22px 33px;
                    margin-top: 57px;
                    border: none;
                    border-radius: 5px;
                    background-color: #252525;
                    font-family: "Raleway-ExtraBold", sans-serif;
                    font-size: 14px;
                    font-weight: 800;
                    text-transform: uppercase;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    text-align: center;
                    color: #ffffff;
                    cursor: pointer;
                    transition:  background 0.3s ease;
                    &:hover{
                        background: #2f2f2f;
                    }
                }

                
            }
        }
    }
}

//****blogPost****
.blogPost{
        background: #252525;
        padding-top: 80px;
        padding-bottom: 83px;

        &-readAll{
            display: block;
            margin-top: 60px;
            font-family: "Roboto-Regular",sans-serif;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-decoration: none;
            color: $tomato;
            transition: color 0.3s ease;
            &:hover{
                color: #fff;
            }
        }

        &-icon{
            &-picture{
                width: 21px;
                height: 17px;
                fill: #ffffff;
            }
            &-photo{
                width: 22px;
                height: 16px;
                fill: #ffffff
            }
            &-video{
                width: 18px;
                height: 20px;
                fill: #ffffff
            }
        }

        &-list{
            margin: 0;
            list-style-type: none;
            display: grid;
            grid-template-rows: 295px 129px 470px;
            grid-template-columns: 470px 300px 400px;
            padding: 0;

            &-item{
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transition:  all 0.3s ease;
                &:hover{
                    outline: 5px solid $tomato;
                    z-index: 1;
                    .blogPost-list-item-img{
                        background: $tomato;
                    }

                }

                &-img{
                    justify-content: center;
                    align-items: center;
                    background: #000;
                    display: inline-flex;
                    width: 41px;
                    height: 41px;

                }
                &-info{
                    &-title{

                        margin: 0 0 20px 0;
                        font-family: "Raleway-Bold",sans-serif;
                        text-transform: uppercase;
                        font-size: 24px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1;
                        letter-spacing: normal;
                        text-align: left;
                        color: #ffffff;

                    }
                    &-description{
                        margin: 0;
                        font-family: "Roboto-Regular",sans-serif;
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.17;
                        letter-spacing: normal;
                        text-align: left;
                        color: #959595;

                        &::after{
                            content: '';
                            display: block;
                            margin-top: 28px;
                            width: 70px;
                            height: 2px;
                            background: $tomato;
                            z-index: 2;
                        }

                        &--white{
                            color: #fff;
                        }
                    }
                }
            }
        }

        &-1{
            background: url("../img/blog/blog-1.jpg") no-repeat center;
            background-size: cover;
            grid-column: 1 / 3;
            grid-row: 1 / 3;
        }
        &-2{
            grid-column: 3 / 4;
            grid-row: 1 / 2;    
            padding: 0 30px 30px 30px;
            
            .blogPost-list-item-info-title{
                font-size: 30px;
                &::before{
                    content: '';
                    display: block;
                    margin-bottom: 31px;
                    width: 70px;
                    height: 2px;
                    background-color: #2f2f2f;
                }
            }
            .blogPost-list-item-info-description{
                font-size: 14px;
                text-transform: none;
                line-height: 1.43;
                color: #464646;
                &::after{
                    display: none;
                }
               
            }
        }
        &-3{
            background: url("../img/blog/blog-2.jpg") no-repeat center;
            background-size: cover;
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
        &-4{
            background: url("../img/blog/blog-3.jpg") no-repeat center;
            background-size: cover;
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }
        &-5{
            background: url("../img/blog/blog-4.jpg") no-repeat center;
            background-size: cover;
            grid-column: 3 / 4;
            grid-row: 2 / 4;
        }
}

.projects{
    background: $main-green;

    &-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;
    }

    &-info{
        &-title{
            min-width: 900px;
            font-family: "Raleway-ExtraBold", sans-serif;
            font-size: 32px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: 1;
            letter-spacing: normal;
            color: #ffffff;
            text-transform: uppercase;
            margin: 0 0 10px 0;
        }
        &-description{
            min-width: 695px;
            margin: 0;
            font-family: "Raleway-Light",sans-serif;
            font-size: 24px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.83;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
    &-button{
        display: flex;
        align-items: center;
        &-btnBuy{
            display: block;
            padding: 22px 33px;
            min-width: 170px;
            border-radius: 5px;
            background: #252525;
            font-family: "Raleway-ExtraBold",sans-serif;
            font-size: 14px;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            transition: background 0.3s ease;
            &:hover{
                background: #343434;
            }
        }
    }
}