<!DOCTYPE html>
html(lang="en")
    head
        include includes/head.pug

    body
        div(class="container headerPanel-bg")
            div(class="wrapper")
               header(class="header")
                    div(class="header-panel")
                        div(class="panel-left")
                            div(class="panel-left-language")
                                include includes/language.pug
                                p(class="panel-left-language-name") English
                                a(href="#" class="arrow")
                                    include includes/arrow.pug
                                ul(class="panel-left-language-list")
                                    li(class="panel-left-language-list-item")
                                        a( href="#" class="panel-left-language-list-item-link")   English
                                    li(class="panel-left-language-list-item")
                                        a( href="#" class="panel-left-language-list-item-link")   Russian
                            div(class="panel-left-call")
                                include includes/phone.pug
                                p(class="panel-left-call-name") +440 875369208
                            div(class="panel-left-email")
                                include includes/email.pug
                                p(class="panel-left-email-name")   info@sitename.com
                        div(class="panel-right")
                            div(class="panel-right-register")
                                include includes/signIn.pug
                                p(class="panel-right-register-name")
                                    a( href="#" class="panel-right-register-name-singIn") Sign In span
                                    span(class="delemiter") &nbsp;/&nbsp;
                                    a(href="#" class="panel-right-register-name-reg") Register
                            div(class="panel-right-wishList")
                                include includes/wishlist.pug
                                p(class="panel-right-wishList")
                                    |   Wishlist:&nbsp;
                                    span(class="panel-right-wishList--bold") 0 items
                                    include includes/arrow.pug

                            div(class="panel-right-socialNetwork")
                                ul(class="socialNetwork-list")
                                    li(class="socialNetwork-list-item")
                                        a(href="#"  class="social")
                                            include includes/facebook.pug
                                    li(class="socialNetwork-list-item")
                                        a(href="#"  class="social")
                                            include includes/twitter.pug
                                    li(class="socialNetwork-list-item")
                                        a(href="#"  class="social")   
                                            include includes/tumbln.pug 
                                    li(class="socialNetwork-list-item")
                                        a(href="#"  class="social")
                                            include includes/linkedln.pug
                                    li(class="socialNetwork-list-item")
                                        a(href="#"  class="social")
                                            include includes/googlePlus.pug
                                    li(class="socialNetwork-list-item")
                                        a(href="#"  class="social")
                                            include includes/rss.pug

        div(class="container headerNav-bg")
            div(class="wrapper")
                    div(class="nav-panel")
                        div(class="nav-panel-left")
                            a(href="#" class="nav-panel-left-logo")  èxe
                        div(class="nav-panel-right")
                            ul(class="nav-panel-right-nav")
                                li(class="nav-panel-right-nav-item")
                                    a(href="index.html" class="nav-panel-right-nav-item-link")   Home
                                li(class="nav-panel-right-nav-item")
                                    a(href="#" class="nav-panel-right-nav-item-link")   About Us
                                li(class="nav-panel-right-nav-item")
                                    a(href="#" class="nav-panel-right-nav-item-link")   Pages
                                li(class="nav-panel-right-nav-item")
                                    a(href="#" class="nav-panel-right-nav-item-link")   Features
                                li(class="nav-panel-right-nav-item")
                                    a(href="#" class="nav-panel-right-nav-item-link")   Portfolio
                                li(class="nav-panel-right-nav-item")
                                    a(href="#" class="nav-panel-right-nav-item-link")   Blog
                                li(class="nav-panel-right-nav-item")
                                    a(href="#" class="nav-panel-right-nav-item-link")  Shop
                                li(class="nav-panel-right-nav-item")
                                    a(href="#" class="nav-panel-right-nav-item-link")  Contacts
                            div(class="nav-panel-right-cart")
                                a(href="#" class="nav-panel-right-cart-link")
                                    include includes/cart.pug
                                    span(class="nav-panel-right-cart-count") 0
                            div(class="nav-panel-right-search")
                                a(href="#" class="nav-panel-right-search-link")
                                    include includes/search.pug

        div(class="container ")
                 div(class="slider swiper-container")
                     div(class="slider-wrap swiper-wrapper")

                        include  includes/slide.pug
                        include  includes/slide.pug
                        include  includes/slide.pug
                        include  includes/slide.pug
                        include  includes/slide.pug

                     div( class="slider-line swiper-pagination-line")
                     div( class="swiper-pagination")
                     div( class="slider-arrLeft swiper-button-prev")
                     div( class="slider-arrRight swiper-button-next")

        div(class="container about")
            div(class="wrapper about-wrap")
                ul(class="about-list ")
                    li(class="about-list-item")
                        div(class="about-list-item-img")
                            div(class="about-list-item-img-figure")
                                include includes/design.pug
                        h3(class="about-list-item-title")    Clean Design
                        p(class="about-list-item-description")     
                            |   Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
                        div(class="about-line")       
                    li(class="about-list-item")
                        div(class="about-list-item-img")
                            div(class="about-list-item-img-figure")
                                include includes/branding.pug
                        h3(class="about-list-item-title")    Branding
                        p(class="about-list-item-description")     
                            |   Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
                        div(class="about-line")       
                    li(class="about-list-item")
                        div(class="about-list-item-img")
                            div(class="about-list-item-img-figure")
                                include includes/responsive.pug
                        h3(class="about-list-item-title")    Responsive
                        p(class="about-list-item-description")     
                            |   Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.  
                        div(class="about-line")     
                    li(class="about-list-item")
                        div(class="about-list-item-item-img")
                            div(class="about-list-item-img-figure")
                                include includes/development.pug
                        h3(class="about-list-item-title")    Development
                        p(class="about-list-item-description")     
                            |   Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam.
                        div(class="about-line")

        div(class="container works")
            div(class="wrapper works-wrap")
                ul(class="works-list")
                    li(class="works-list-item works--one")
                        h2(class="works-list-item-title")   See Our Recent Work
                        p(class="works-list-item-description")  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus.
                    li(class="works-list-item works--two")
                        div(class="works-active")
                            h2(class="works-active-title") Claritas Est Processus
                            p(class="works-active-description") Graphic Designer, Photoshop
                            div(class="works-active-buttons")
                                span(class="works-active-buttons-search")
                                    a(href="#" class="works-active-buttons-search-link")
                                        include includes/search-work.pug
                                span(class="works-active-buttons-link")
                                    a(href="#" class="works-active-buttons-link-link")
                                        include includes/link.pug
                    li(class="works-list-item works--three")
                        div(class="works-active")
                            h2(class="works-active-title") Claritas Est Processus
                            p(class="works-active-description") Graphic Designer, Photoshop
                            div(class="works-active-buttons")
                                span(class="works-active-buttons-search")
                                    a(href="#" class="works-active-buttons-search-link")
                                        include includes/search-work.pug
                                span(class="works-active-buttons-link")
                                    a(href="#" class="works-active-buttons-link-link")
                                        include includes/link.pug
                    li(class="works-list-item works--four")
                        div(class="works-active")
                            h2(class="works-active-title") Claritas Est Processus
                            p(class="works-active-description") Graphic Designer, Photoshop
                            div(class="works-active-buttons")
                                span(class="works-active-buttons-search")
                                    a(href="#" class="works-active-buttons-search-link")
                                        include includes/search-work.pug
                                span(class="works-active-buttons-link")
                                    a(href="#" class="works-active-buttons-link-link")
                                        include includes/link.pug
                    li(class="works-list-item works--five")
                        div(class="works-active")
                            h2(class="works-active-title") Claritas Est Processus
                            p(class="works-active-description") Graphic Designer, Photoshop
                            div(class="works-active-buttons")
                                span(class="works-active-buttons-search")
                                    a(href="#" class="works-active-buttons-search-link")
                                        include includes/search-work.pug
                                span(class="works-active-buttons-link")
                                    a(href="#" class="works-active-buttons-link-link")
                                        include includes/link.pug
                    li(class="works-list-item works--six")
                        div(class="works-active")
                            h2(class="works-active-title") Claritas Est Processus
                            p(class="works-active-description") Graphic Designer, Photoshop
                            div(class="works-active-buttons")
                                span(class="works-active-buttons-search")
                                    a(href="#" class="works-active-buttons-search-link")
                                        include includes/search-work.pug
                                span(class="works-active-buttons-link")
                                    a(href="#" class="works-active-buttons-link-link")
                                        include includes/link.pug

                a(href="#" class="works-viewAllPortfolio") View All Portfolio »

        div(class="container workResponsive")
            div(class="wrapper workResponsive-wrap")
                ul(class="workResponsive-list")
                    li(class="workResponsive-list-item workResponsive--position")
                        img(src="./img/browser.png", alt="ipad" class="workResponsive-list-item-image-1")
                        img(src="./img/iphone.png", alt="phone" class="workResponsive-list-item-image-2")
                    li(class="workResponsive-list-item")
                        div(class="workResponsive-list-item-info")
                            h2(class="workResponsive-list-item-info-title") Fully Responsive Design Ready
                            p(class="workResponsive-list-item-info-description")
                                |   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                                | nibh euismod tincidunt ut laoreet. Claritas est etiam processus dynamicus.
                            ul(class="workResponsive-list-item-info-sublist")
                                li(class="workResponsive-list-item-info-sublist-subItem")
                                    p(class="workResponsive-list-item-info-sublist-subItem-p")
                                        |   Claritas est etiam processus dynamicus.
                                li(class="workResponsive-list-item-info-sublist-subItem")
                                    p(class="workResponsive-list-item-info-sublist-subItem-p")
                                        |   Mirum est notare quam littera gothica, quam.
                                li(class="workResponsive-list-item-info-sublist-subItem")
                                    p(class="workResponsive-list-item-info-sublist-subItem-p")
                                        |   Nam liber tempor cum soluta.
                                li(class="workResponsive-list-item-info-sublist-subItem")
                                    p(class="workResponsive-list-item-info-sublist-subItem-p")
                                        |   Duis autem vel eum iriure dolor in hendrerit.
                                li(class="workResponsive-list-item-info-sublist-subItem")
                                    p(class="workResponsive-list-item-info-sublist-subItem-p")
                                        |   Typi non habent claritatem insitam.                                

                            button(class="workResponsive-list-item-btn")    Buy This Now

        div(class="container skill")
            div(class="wrapper skill-wrap")
                ul(class="skill-list")
                    li(class="skill-list-item")
                        div(class="skill-list-item-info")
                            h2(class="skill-list-item-info-title")  Our Skills
                            p(class="skill-list-item-info-description")   
                                |   Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                                |   sed diam nonummy nibh euismod tincidunt ut laoreet. Claritas 
                                |   est etiam processus dynamicus, qui sequitur mutationem consuetudium.   
                            button(class="skill-list-item-info-btn")   Our Services          
                    li(class="skill-list-item")
                        ul(class="skill-list-item-sublist")
                            li(class="skill-list-item-sublist-subItem")
                                h3(class="skill-list-item-sublist-subItem-title")   Photoshop
                                div(class="skill-list-item-sublist-subItem-progressbar")
                                    span(class="skill-list-item-sublist-subItem-progressbar-line")
                                h3(class="skill-list-item-sublist-subItem-title")   WordPress
                                div(class="skill-list-item-sublist-subItem-progressbar")
                                    span(class="skill-list-item-sublist-subItem-progressbar-line")
                                h3(class="skill-list-item-sublist-subItem-title")   eCommerce
                                div(class="skill-list-item-sublist-subItem-progressbar")
                                    span(class="skill-list-item-sublist-subItem-progressbar-line")
                                h3(class="skill-list-item-sublist-subItem-title")   Photography
                                div(class="skill-list-item-sublist-subItem-progressbar")
                                    span(class="skill-list-item-sublist-subItem-progressbar-line")            

        script( src="https://unpkg.com/swiper/swiper-bundle.js")
        script( src="https://unpkg.com/swiper/swiper-bundle.min.js")
        script(src="js/common.js")
