svg( class="panel-left-language-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="16px" height="16px")
    defs
        filter(id="Filter_0")
            feFlood( flood-color="rgb(0, 0, 0)" flood-opacity="1" result="floodOut" )
            feComposite( operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" )
            feBlend( mode="normal" in="compOut" in2="SourceGraphic" )

    g( filter="url(#Filter_0)")
    path( fill-rule="evenodd"  fill="rgb(0, 0, 0)"
        d="M17.977,0.525 L12.887,14.539 C12.759,14.893 12.472,15.167 12.113,15.277 C11.753,15.387 11.363,15.320 11.060,15.099 L6.302,11.616 L17.233,0.783 L4.871,10.567 L1.390,8.019 C1.073,7.787 0.907,7.398 0.958,7.005 C1.010,6.613 1.271,6.281 1.638,6.139 L17.479,0.032 C17.620,-0.023 17.778,0.010 17.886,0.117 C17.993,0.223 18.029,0.382 17.977,0.525 ZM6.022,15.847 C5.788,15.998 5.494,16.022 5.239,15.911 C4.983,15.799 4.800,15.568 4.750,15.292 L4.074,11.576 L4.045,11.413 L8.158,14.379 C8.192,14.426 6.963,15.236 6.022,15.847 Z")
