svg( class="footer-about-icon"
xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink"
width="17px" height="13px")
    defs
        filter(id="Filter_0")
            feFlood( flood-color="rgb(0, 0, 0)" flood-opacity="1" result="floodOut" )
            feComposite( operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" )
            feBlend( mode="normal" in="compOut" in2="SourceGraphic" )

    g( filter="url(#Filter_0)")
    path( fill-rule="evenodd" d="M.793 1.067c.133-.051.276-.083.428-.083h14.558c.151 0 .294.032.428.083L9.684 7.442c-.664.65-1.704.65-2.369 0L.793 1.067zm16.038 11.328c.113-.193.182-.418.182-.661v-9.47c0-.172-.034-.336-.094-.486l-6.104 5.965 6.016 4.652zm-6.568-4.121c-.506.45-1.134.679-1.763.679-.63 0-1.257-.229-1.764-.679L.738 12.912c.148.066.311.103.483.103h14.558c.171 0 .334-.037.483-.103l-5.999-4.638zM.08 1.778c-.059.15-.093.314-.093.486v9.47c0 .243.069.468.182.661l6.015-4.652L.08 1.778z")

