svg( class="social"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="16px" height="16px")
    defs
        filter(id="Filter_0")
            feFlood( flood-color="rgb(0, 0, 0)" flood-opacity="1" result="floodOut" )
            feComposite( operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" )
            feBlend( mode="normal" in="compOut" in2="SourceGraphic" )

    g( filter="url(#Filter_0)")
    path( fill-rule="evenodd"
         d="M13.000,-0.001 L3.000,-0.001 C1.343,-0.001 -0.000,1.342 -0.000,2.999 L-0.000,12.999 C-0.000,14.657 1.343,16.000 3.000,16.000 L13.000,16.000 C14.657,16.000 16.000,14.657 16.000,12.999 L16.000,2.999 C16.000,1.342 14.657,-0.001 13.000,-0.001 ZM5.056,10.003 C3.935,10.003 3.027,9.095 3.027,7.974 C3.027,6.853 3.935,5.945 5.056,5.945 C6.177,5.945 7.085,6.853 7.085,7.974 C7.085,9.095 6.177,10.003 5.056,10.003 ZM10.965,10.003 C9.844,10.003 8.935,9.095 8.935,7.974 C8.935,6.853 9.844,5.945 10.965,5.945 C12.086,5.945 12.994,6.853 12.994,7.974 C12.994,9.095 12.086,10.003 10.965,10.003 Z")
