svg( class="social"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="16px" height="16px")
    defs
        filter(id="Filter_0")
            feFlood( flood-color="rgb(0, 0, 0)" flood-opacity="1" result="floodOut" )
            feComposite( operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" )
            feBlend( mode="normal" in="compOut" in2="SourceGraphic" )

    g( filter="url(#Filter_0)")
    path( fill-rule="evenodd"  fill="rgb(0, 0, 0)"
        d="M13.000,-0.001 L3.000,-0.001 C1.343,-0.001 -0.000,1.342 -0.000,2.999 L-0.000,12.999 C-0.000,14.656 1.343,15.999 3.000,15.999 L13.000,15.999 C14.657,15.999 16.000,14.656 16.000,12.999 L16.000,2.999 C16.000,1.342 14.657,-0.001 13.000,-0.001 ZM6.000,11.874 L4.000,11.874 L4.000,4.874 L6.000,4.874 L6.000,11.874 ZM5.062,4.445 C4.544,4.445 4.125,4.025 4.125,3.507 C4.125,2.990 4.545,2.569 5.062,2.569 C5.580,2.570 6.000,2.990 6.000,3.507 C6.000,4.025 5.580,4.445 5.062,4.445 ZM13.000,11.874 L11.000,11.874 L11.000,7.546 C11.000,7.039 10.855,6.684 10.232,6.684 C9.199,6.684 9.000,7.546 9.000,7.546 L9.000,11.874 L7.000,11.874 L7.000,4.874 L9.000,4.874 L9.000,5.543 C9.286,5.325 10.000,4.875 11.000,4.875 C11.648,4.875 13.000,5.263 13.000,7.607 L13.000,11.874 Z")
