svg( class="icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="16px" height="16px")
    defs
        filter(id="Filter_0")
            feFlood( flood-color="rgb(0, 0, 0)" flood-opacity="1" result="floodOut" )
            feComposite( operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" )
            feBlend( mode="normal" in="compOut" in2="SourceGraphic" )

    g( filter="url(#Filter_0)")
    path( fill-rule="evenodd"
        d="M3.077,16.907 C2.696,16.907 2.077,16.956 1.700,16.905 C1.007,16.811 0.039,16.390 0.039,14.767 L0.039,2.992 C0.039,2.992 0.073,0.934 2.252,0.934 L7.598,0.934 C7.598,0.934 9.994,0.861 9.994,3.013 L9.994,14.226 C9.994,14.569 9.985,15.131 9.874,15.460 C9.671,16.067 9.122,16.907 7.641,16.907 L3.077,16.907 L3.077,16.907 ZM4.980,15.973 C5.306,15.973 5.568,15.734 5.568,15.443 C5.568,15.149 5.306,14.912 4.980,14.912 C4.658,14.912 4.394,15.149 4.394,15.443 C4.394,15.734 4.658,15.973 4.980,15.973 ZM5.985,1.932 L4.048,1.932 C3.668,1.932 3.359,2.155 3.359,2.431 C3.359,2.706 3.668,2.929 4.048,2.929 L5.985,2.929 C6.365,2.929 6.674,2.706 6.674,2.431 C6.674,2.156 6.366,1.932 5.985,1.932 ZM8.198,3.927 L1.835,3.927 C1.454,3.927 1.145,4.206 1.145,4.550 L1.145,13.292 C1.145,13.635 1.454,13.914 1.835,13.914 L8.198,13.914 C8.579,13.914 8.888,13.635 8.888,13.292 L8.888,4.550 C8.888,4.205 8.579,3.927 8.198,3.927 Z")
