svg( class="panel-left-language-icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="16px" height="16px")
    defs
        filter(id="Filter_0")
            feFlood( flood-color="rgb(0, 0, 0)" flood-opacity="1" result="floodOut" )
            feComposite( operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" )
            feBlend( mode="normal" in="compOut" in2="SourceGraphic" )

    g( filter="url(#Filter_0)")
    path( fill-rule="evenodd"  fill="rgb(0, 0, 0)"
        d="M18.952,14.934 C18.254,15.637 17.413,15.989 16.430,15.989 L12.465,15.989 C12.357,15.989 12.264,15.949 12.186,15.870 C12.107,15.791 12.068,15.697 12.068,15.590 C12.068,15.556 12.064,15.473 12.056,15.340 C12.047,15.206 12.045,15.096 12.050,15.009 C12.054,14.921 12.066,14.824 12.087,14.716 C12.107,14.607 12.149,14.527 12.211,14.473 C12.272,14.418 12.357,14.391 12.465,14.391 L16.430,14.391 C16.975,14.391 17.442,14.196 17.830,13.804 C18.219,13.413 18.413,12.943 18.413,12.394 L18.413,3.606 C18.413,3.058 18.219,2.588 17.830,2.196 C17.442,1.805 16.975,1.610 16.430,1.610 L12.861,1.610 L12.725,1.610 L12.564,1.610 C12.564,1.610 12.516,1.605 12.421,1.597 C12.326,1.589 12.278,1.576 12.278,1.560 C12.278,1.543 12.245,1.520 12.179,1.491 C12.113,1.462 12.084,1.424 12.092,1.379 C12.101,1.333 12.092,1.277 12.068,1.210 C12.068,1.177 12.063,1.094 12.055,0.961 C12.047,0.827 12.045,0.717 12.049,0.630 C12.053,0.543 12.065,0.445 12.086,0.337 C12.107,0.228 12.148,0.147 12.210,0.093 C12.272,0.039 12.357,0.012 12.464,0.012 L16.430,0.012 C17.413,0.012 18.253,0.364 18.951,1.067 C19.650,1.770 19.999,2.616 19.999,3.606 L19.999,12.394 C19.999,13.384 19.650,14.231 18.952,14.934 ZM15.637,8.000 C15.637,8.217 15.558,8.404 15.401,8.562 L8.660,15.352 C8.503,15.510 8.317,15.590 8.102,15.590 C7.887,15.590 7.701,15.510 7.544,15.352 C7.387,15.194 7.309,15.007 7.309,14.791 L7.309,11.195 L1.757,11.195 C1.542,11.195 1.356,11.117 1.199,10.959 C1.042,10.800 0.964,10.613 0.964,10.397 L0.964,5.604 C0.964,5.388 1.042,5.200 1.199,5.042 C1.356,4.884 1.542,4.805 1.757,4.805 L7.309,4.805 L7.309,1.210 C7.309,0.994 7.387,0.806 7.544,0.648 C7.701,0.490 7.887,0.411 8.102,0.411 C8.317,0.411 8.503,0.490 8.660,0.648 L15.401,7.438 C15.558,7.597 15.637,7.784 15.637,8.000 Z")
