div(class="slider-wrap-slide swiper-slide ")
    div(class="slider-wrap-slide-img slide-bg-1")
        div(class="slider-wrap-slide-info wrapper")
            h2(class="slider-wrap-slide-info-title")   Smart Moves
            h3(class="slider-wrap-slide-info-subtitle")   of&nbsp;
                span(class="red") Successful&nbsp;
                | Business
            p(class="slider-wrap-slide-info-description")
                |   Claritas est etiam processus dynamicus,
                |   qui sequitur mutationem consuetudium lectorum.
            div(class="slide-wrap-slide-info-buttons")
                button(class="slider-wrap-slide-info-buttons-button")   Buy This Now
                button(class="slider-wrap-slide-info-buttons-button")   Live Preview