svg( class="social"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="16px" height="16px")
    defs
        filter(id="Filter_0")
            feFlood( flood-color="rgb(0, 0, 0)" flood-opacity="1" result="floodOut" )
            feComposite( operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" )
            feBlend( mode="normal" in="compOut" in2="SourceGraphic" )

    g( filter="url(#Filter_0)")
    path( fill-rule="evenodd"
        d="M13.000,-0.001 L3.000,-0.001 C1.343,-0.001 -0.000,1.342 -0.000,2.999 L-0.000,12.999 C-0.000,14.657 1.343,15.999 3.000,15.999 L13.000,15.999 C14.657,15.999 16.000,14.657 16.000,12.999 L16.000,2.999 C16.000,1.342 14.657,-0.001 13.000,-0.001 ZM12.752,5.823 C12.215,8.845 9.218,11.403 8.317,11.988 C7.415,12.572 6.593,11.753 6.294,11.134 C5.953,10.429 4.930,6.602 4.662,6.285 C4.394,5.967 3.590,6.602 3.590,6.602 L3.200,6.090 C3.200,6.090 4.833,4.141 6.075,3.897 C7.392,3.637 7.390,5.919 7.707,7.185 C8.014,8.410 8.219,9.111 8.487,9.111 C8.755,9.111 9.268,8.429 9.827,7.381 C10.389,6.333 9.803,5.408 8.706,6.065 C9.146,3.434 13.288,2.801 12.752,5.823 Z")
