svg( class="icon"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="16px" height="16px")
    defs
        filter(id="Filter_0")
            feFlood( flood-color="rgb(0, 0, 0)" flood-opacity="1" result="floodOut" )
            feComposite( operator="atop" in="floodOut" in2="SourceGraphic" result="compOut" )
            feBlend( mode="normal" in="compOut" in2="SourceGraphic" )

    g( filter="url(#Filter_0)")
    path( fill-rule="evenodd"
        d="M19.981,5.710 C19.998,5.540 20.007,5.365 20.007,5.191 C20.007,2.320 17.687,-0.009 14.824,-0.009 C12.717,-0.009 10.903,1.254 10.093,3.066 C9.283,1.254 7.470,-0.009 5.363,-0.009 C2.500,-0.009 0.180,2.320 0.180,5.191 C0.180,5.365 0.189,5.540 0.205,5.710 C0.205,5.710 0.307,10.830 10.157,15.980 L10.157,15.980 C20.006,10.830 19.981,5.710 19.981,5.710 ZM5.510,1.136 C5.981,1.136 6.361,1.518 6.361,1.990 C6.361,2.461 5.981,2.843 5.510,2.843 C5.039,2.843 4.661,2.462 4.661,1.990 C4.660,1.519 5.040,1.136 5.510,1.136 ZM2.852,7.519 C2.772,7.541 2.692,7.552 2.614,7.552 C2.225,7.552 1.868,7.294 1.759,6.901 C1.626,6.423 1.563,5.985 1.546,5.586 C1.467,3.483 2.758,2.449 2.823,2.399 C3.211,2.098 3.768,2.168 4.067,2.557 C4.365,2.942 4.298,3.492 3.923,3.796 C3.877,3.834 3.317,4.339 3.320,5.419 C3.322,5.711 3.364,6.044 3.468,6.422 C3.599,6.897 3.323,7.387 2.852,7.519 Z")
